/*Página confirmación de Pedido*/
.confirmacionPedido{
	border:3px solid orange;
}

.confirmacionPedido h1{
	text-align: center;
}
.confirmacionPedido .nombreProducto{

}

.confirmacionPedido .precioProducto{
	text-align: right;
}

.confirmacionPedido .totalPrecio{

}