/*Página confirmación de Pedido*/
#confirmacionPedido{
	border:3px solid orange;
}
#listaCompra{
	border: 3px solid orange;
}
#confirmacionPedido h1{
	text-align: center;
}
#nombreProducto {
float:left;
}
#precioProducto{
	text-align: right;
	float:right;
}

#totalPrecio{
text-align: right;
}