body > nav {
	display: none;
	z-index: 5;
	position: fixed;
	background-color: rgba(45, 49, 51, 0.8);
	padding: 50px;
	top: 0;
	right: 0;
	height: 100vh;
	width: 20vw;
}

body > header {
	position: relative;
	background-color: #a5c124;
	overflow: auto;
}

body > header > #icono-menu {
	z-index: 6;
	position: absolute;
	background: #fff url('../img/burguer.svg') center center no-repeat;
	box-shadow: 4px 4px rgba(0, 0, 0, 0.2);
	background-size: 75%;
	border-radius: 5px;
	text-decoration: none;
	text-align: center;
	display: table;
	height: 55px;
	width: 55px;
	top: 15px;
	right: 15px;
}

body > header > #icono-menu > i.fa {
	display: table-cell;
	vertical-align: middle;
	color: black;
}

body > header > #icono-menu:active {
	box-shadow: none;
	top: 11px;
	right: 11px;
}

body > header > img {
	display: block;
	margin: 25px auto;
	height: 100px;
}

body > header > #eslogan {
	background-color: #2d3133;
	padding: 12px 0;
	text-align: center;
	color: #fff;
}

/* Footer */

body > footer {
	background-color: #a5c124;
	color: #fff;
}
