/*---About---*/
#page-about section article header p{
  text-align: justify;
}
#page-about section article .imgAbout img{
  width: 100%;
  border-radius: 20px;
}
#page-about .circle img{
  border-radius: 50%;
  width: 70%;
  height: 70%;
  transition: 0.2s;
}
#page-about .circle img:hover{
  border-radius: 5%;
  background-color: orange;
  width: 70%;
  height: 70%;
}
#page-about .centro, #page-about .centro p{
  text-align: center;
}
#page-resumen .center{
  text-align: center;
}
.pointer {cursor: pointer;}
.phrase{
  font-family: 'Roboto Slab', monospace;
  font-size: 24px;
  color: #606366;
}
/*-------------------------------------------*/
/*-------------------------------------------*/

/* The Modal (background) */
.modal a.background {
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}

/* Modal Content */
.modal .modal-content {
    position: fixed;
    bottom: 0;
    background-color: #fefefe;
    width: 100%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s;
	z-index: 11;
}

/* The Close Button */
.modal .close_button {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modal .close_button:hover,
.modal .close_button:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal .modal-header {
    padding: 2px 16px;
    background-color: #ff611c;
    color: white;
}

.modal .modal-body {padding: 2px 16px;}

.modal .modal-footer {
    padding: 2px 16px;
    background-color: #ff611c;
    color: white;
}

/* Add Animation */
@-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}
