input, textarea{
	border-radius: 8px;
}

textarea:focus{
	border: 3px solid green;
}

input[type='submit'] {
	padding: 6px 12px;
	text-decoration: none;
	font-weight: 600;
	font-size: 20px;
	color: #fff;
	background-color: orange;
	border-radius: 5px;
	border: 2px solid orange;
}

input[type='submit']:hover {
	color: #fff;
	opacity: 0.75;
}

.pointer {
	cursor: pointer;
}