#contenidoContacto{
	text-align:center;
	background-color:orange;
}
  
    .fas fa-arrow-circle-right{
		margin-left:123px;
	}
	 input,textarea{
		border-radius:8px;}
		   
	#name,#mail{
		margin-right:200px;
		   }
		   
	 #send{
	 width:120px;}
		    
		   