#contenidoContacto{
	/*text-align:center;*/
	background-color:white;
}
    
   
	 input,textarea{
		border-radius:8px;}
		   
	#name,#mail{
		margin-right:200px;
		   }
		   
	 #send{
	 width:120px;}
		    
		   