<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8">
		<title>{{page.title}}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">

		<link rel="icon" sizes="192x192" href="{{site.baseurl}}/img/icon.png">

		<script src="{{site.baseurl}}/js/jquery-3.3.1.min.js" type="text/javascript"></script>
		<script>
			var BaseUrl = "{{site.baseurl}}";
		</script>
		<script src="{{site.baseurl}}/js/scripts.js" type="text/javascript"></script>
		<link href="{{site.baseurl}}/css/estilos.css" rel="stylesheet">
	</head>
	<body>
		<nav>
			<a href="#" class="boton-menu-principal CerrarMenuPrincipal"><i class="fa fa-close fa-2x"></i></a>
			{% include nav.html %}
		</nav>
		{% include header.html %}
		<!--
		<aside>
			{% include aside.html %}
		</aside>
		-->
		<section id="principal">
			{{content}}
		</section>
		{% include footer.html %}
		<a href="{{site.baseurl}}/summary" id="BotonCarro"><i class="fa fa-shopping-cart fa-2x"></i></a>
	</body>
</html>
